<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="preload" href="<%= BASE_URL %>assets/img/M-1.jpg" as="image">
    <link rel="preload" href="<%= BASE_URL %>assets/img/M-2.jpg" as="image">
    <link rel="preload" href="<%= BASE_URL %>assets/img/M-3.jpg" as="image">
    <link rel="icon" href="<%= BASE_URL %>assets/img/M-1.jpg">
    
    <title>mmm collectif</title>
    <meta name="description" content="Le site du collectif mmm réunissant Margot Criseo, Marine La Rosa et Milena Ducoudray.">
    <link rel="canonical" href="<%= BASE_URL %>" />

    <meta property="og:type" content="page" />
    <meta property="og:title" content="mmm collectif" />
    <meta property="og:description" content="Le site du collectif mmm réunissant Margot Criseo, Marine La Rosa et Milena Ducoudray." />
    <meta property="og:image" content="<%= BASE_URL %>assets/img/M-1.jpg" />
    <meta property="og:url" content="https://www.mmmcollectif.com/" />
    <meta property="og:site_name" content="mmm collectif" />

    <meta name="twitter:title" content="mmm collectif">
    <meta name="twitter:description" content="Le site du collectif mmm réunissant Margot Criseo, Marine La Rosa et Milena Ducoudray.">
    <meta name="twitter:image" content="<%= BASE_URL %>assets/img/M-1.jpg" />
    <meta name="twitter:site" content="@mmmcollectif">
    <meta name="twitter:creator" content="@mmmcollectif">
    
    <link rel="preload" href="<%= BASE_URL %>assets/css/style.min.css" as="style">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/css/style.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="main" class="loading unloaded"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
