@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@font-face {
  font-family: "osmose_medium";
  src: url("../fonts/osmose-medium-webfont.woff2") format("woff2"), url("../fonts/osmose-medium-webfont.woff") format("woff"), url("../fonts/osmose-medium-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "osmose_medium_italic";
  src: url("../fonts/osmose-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/osmose-mediumitalic-webfont.woff") format("woff"), url("../fonts/osmose-mediumitalic-webfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lifted_sans";
  src: url("../fonts/Lifted-Sans.eot");
  src: url("../fonts/Lifted-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifted-Sans.woff2") format("woff2"), url("../fonts/Lifted-Sans.woff") format("woff"), url("../fonts/Lifted-Sans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lifted_light";
  src: url("../fonts/Lifted-Light.eot");
  src: url("../fonts/Lifted-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifted-Light.woff2") format("woff2"), url("../fonts/Lifted-Light.woff") format("woff"), url("../fonts/Lifted-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: #52b78f;
  background: none;
}

::selection {
  color: #52b78f;
  background: none;
}

:root {
  --nav-width: 100vw;
}

html {
  font-family: "lifted_sans";
  cursor: none;
  background: #000;
  font-size: 14px;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a, a:hover, a:active {
  cursor: none;
}

h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

header, h1 {
  font-size: 1.8rem;
}

figure, img {
  color: rgba(255, 255, 255, 0);
}

#cursor {
  position: fixed;
  z-index: 99999;
  height: 40px;
  width: 40px;
  background: none !important;
  background-color: unset !important;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: height 0.75s, width 0.75s;
}
#cursor circle {
  stroke: #fff;
  stroke-width: 6px;
  transition: stroke-width 0.75s;
}
#cursor.mini {
  height: 20px;
  width: 20px;
}
#cursor.mini circle {
  stroke-width: 12px;
}

#main {
  font-family: "lifted_sans", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#main > nav {
  outline: 1px solid #000;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  float: left;
  transition: width 1s;
}
#main > main {
  float: right;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transition: width 1s;
  position: relative;
  width: calc( 100vw - var( --nav-width ) );
  border-left: 1px solid #000;
}
#main > main img {
  height: auto;
}
#main *:not(img) {
  box-sizing: border-box;
  text-align: left;
  font-weight: 500;
  margin: 0;
}
#main.loading * {
  transition: width 1s, height 1s, background-color 0.6s 1s, opacity 0.6s 1s;
}
#main.loading section {
  overflow: hidden !important;
}
#main > * {
  background: #fff;
}
#main.unloaded {
  --nav-width: 100vw;
}
#main.unloaded nav > header > main h1, #main.unloaded nav > header > main > p, #main.unloaded > * > *:not(header) > *, #main.unloaded > main > header > * {
  opacity: 0;
}
#main.unloaded header {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
#main.unloaded > * > * {
  background-color: #fff;
}

nav {
  width: min-content;
  width: var(--nav-width);
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 7rem);
  height: calc(var(--vh, 1vh) * 100 - 7rem);
  padding: 5rem 0;
  background: #fff;
  transition: all 1s;
}
nav ul li {
  --project-height: 200px;
  box-sizing: content-box !important;
  list-style-type: none;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: calc( var( --project-height ) / 1.4 );
  transition: height 1s;
  position: relative;
}
nav ul li * {
  width: max-content;
  width: var(--project-height);
  text-align: center !important;
}
nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: left 1s;
}
nav ul li a * {
  font-size: 1rem !important;
}
nav ul li a:hover figure img {
  opacity: 0.85;
  height: 99%;
  width: 99%;
}
nav ul li a:hover p {
  opacity: 1;
}
nav ul li:nth-child(2n+2) a {
  left: 75%;
}
nav ul li div {
  position: relative;
}
nav ul li div svg {
  display: block;
  height: var(--project-height);
  width: var(--project-height);
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
}
nav ul li div svg * {
  stroke-width: 5px;
}
nav ul li figure {
  height: var(--project-height);
  aspect-ratio: 1/1;
  position: relative;
  background: #000;
}
nav ul li figure img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.75s;
}
nav header {
  border-bottom: 1px solid #000;
  padding: 1rem;
  display: flex;
  width: 100%;
  height: 8.25rem;
  overflow: hidden;
}
nav header * {
  display: inline-flex;
}
nav header figure img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
nav header main {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 1rem !important;
  justify-content: center;
}
nav header main * {
  white-space: nowrap;
}

main header {
  border-bottom: 1px solid #000;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  height: 8.25rem;
  width: 100%;
  font-size: 1.4rem;
  padding: 1.6rem 0;
}
main header div:first-child {
  display: inline-block;
  grid-column: 3;
  margin-left: 2rem;
}
main aside {
  position: absolute;
  z-index: 999;
  background: #000;
  color: #fff;
  width: 30rem;
  height: 100%;
  left: calc(100% - 3rem);
  top: 0;
  transition: left 0.6s;
  font-family: "osmose_medium";
}
main aside i, main aside em {
  font-family: "osmose_medium_italic";
}
main aside article {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main aside article a {
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}
main aside.open {
  left: calc(100% - 30rem);
}
main aside div:nth-child(2) {
  width: 60%;
  font-family: "lifted_sans";
}
main figure img {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s;
}

#about {
  font-family: "lifted_light";
  background: #000;
  color: #fff;
  height: calc(100vh - 7rem);
  height: calc(var(--vh, 1vh) * 100 - 7rem);
  overflow: hidden;
  overflow-y: scroll;
}
#about *:not(br) {
  font-size: 3rem;
}
@media (max-width: 1400px) {
  #about *:not(br) {
    font-size: 2rem;
  }
}
#about p {
  width: calc(100vw - var(--pan-width) );
  padding: 3rem;
  padding-bottom: 0;
}
#about p:last-of-type a img {
  top: unset;
  bottom: 4rem;
}
#about footer {
  text-align: right;
  width: 100%;
  padding: 3rem;
}
#about footer, #about footer * {
  font-size: 1rem;
}
#about a {
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}
#about a img {
  opacity: 0;
  visibility: hidden;
  left: 50%;
  top: 6rem;
  transform: translate(-50%);
  max-height: 50vh;
  max-height: calc(var(--vh, 1vh) * 50);
  max-width: calc(80vw - var(--nav-width));
  object-fit: contain;
  object-position: top center;
  position: absolute;
  z-index: 99999;
  pointer-events: none;
}

section {
  position: absolute;
  background: #fff;
  color: #000;
  right: 0;
  width: 100%;
  height: calc(100% - 8rem);
}
section > div {
  width: calc(100% - 3rem);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
section > div > *:not(figure) {
  padding: 1rem;
}
section article div {
  position: relative;
  overflow: hidden;
}
section article iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.project {
  --nav-width: 20rem;
}
.project nav ul {
  background: #000;
  color: #fff;
  padding-top: 2rem;
}
.project nav ul li {
  height: calc( var( --project-height ) + 3rem);
}
.project nav ul li a {
  left: 50% !important;
}
.project main #about {
  pointer-events: none;
}
.project main #about * {
  opacity: 0;
  transition: opacity 1s 1s;
}

:not(.touch) nav ul li p {
  opacity: 0;
}
:not(.touch) main aside:not(.open):hover {
  left: calc(100% - 5rem);
}
:not(.touch) #about a:hover img {
  opacity: 1;
  visibility: initial;
}

@keyframes navEnter {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes navLeft {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
.fade-enter-active {
  animation: navEnter 1s;
}
.fade-enter, .fade-enter-active {
  transition: opacity 0.4s;
}
.fade-leave-to, .fade-leave-active {
  animation: navLeft 1s;
}

@media screen {
  .touch {
    font-size: 9px;
  }
  .touch nav ul li {
    --project-height: 130px;
  }
  .touch main aside {
    --aside-width: 50rem;
    --aside-font: 1.6rem;
    width: var(--aside-width);
  }
}
@media screen and (orientation: landscape) {
  .touch main aside {
    --aside-width: 30rem !important;
    --aside-font: 1rem !important;
  }
}
@media screen {
  .touch main aside * {
    font-size: var(--aside-font);
  }
}
@media screen {
  .touch main aside.open {
    left: calc(100% - var( --aside-width ) );
  }
}
.mobile .template, .tablet--portrait .template {
  display: none;
  opacity: 0;
}
.mobile.unloaded header, .tablet--portrait.unloaded header {
  opacity: 1;
}
.mobile header, .tablet--portrait header {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 1px solid #000;
}
.mobile header > *, .tablet--portrait header > * {
  display: inline-block;
}
.mobile header > div, .tablet--portrait header > div {
  margin-right: 1rem !important;
}
.mobile header figure, .tablet--portrait header figure {
  height: 14vw;
  width: 14vw;
}
.mobile header main, .mobile header main h1, .tablet--portrait header main, .tablet--portrait header main h1 {
  font-size: 1.8rem;
  line-height: 1;
  margin-right: 1rem;
}
@media (orientation: portrait) and (max-width: 374px) {
  .mobile header main, .mobile header main h1, .tablet--portrait header main, .tablet--portrait header main h1 {
    font-size: 1.4rem;
  }
}
.mobile #about, .tablet--portrait #about {
  height: 100%;
  padding: 2rem;
  padding-bottom: 5rem;
}
.mobile #about p, .mobile #about a, .tablet--portrait #about p, .tablet--portrait #about a {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .mobile #about p, .mobile #about a, .tablet--portrait #about p, .tablet--portrait #about a {
    font-size: 1rem;
  }
}
.mobile #about header, .tablet--portrait #about header {
  position: initial;
  font-size: 0.6rem;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 1rem !important;
  margin-bottom: 1.6rem;
}
.mobile #about header *, .tablet--portrait #about header * {
  font-size: 1.25rem !important;
  font-family: lifted_sans, Avenir, Helvetica, Arial, sans-serif;
}
@media (max-width: 480px) {
  .mobile #about header *, .tablet--portrait #about header * {
    font-size: 0.8rem !important;
  }
}
.mobile #about > div:last-child, .tablet--portrait #about > div:last-child {
  font-family: lifted_sans, Avenir, Helvetica, Arial, sans-serif;
}
.mobile .section, .tablet--portrait .section {
  transition: left 0.6s;
  position: fixed;
  top: 0;
  height: 100%;
}
.mobile .section > div > :not(figure), .mobile .section > div .swiper-wrapper, .tablet--portrait .section > div > :not(figure), .tablet--portrait .section > div .swiper-wrapper {
  padding: 0;
}
.mobile .section__main, .tablet--portrait .section__main {
  left: 0;
}
.mobile .section__main #about a:not([href]), .tablet--portrait .section__main #about a:not([href]) {
  pointer-events: none;
  text-decoration: none;
}
.mobile .section__main #about a:not([href]) img, .tablet--portrait .section__main #about a:not([href]) img {
  display: none;
}
.mobile .section__project, .tablet--portrait .section__project {
  left: 100vw;
}
.mobile .section__project #about, .tablet--portrait .section__project #about {
  font-family: "osmose_medium";
}
.mobile .section__project #about header h2, .tablet--portrait .section__project #about header h2 {
  width: 100%;
  text-align: center;
}
.mobile.project .section__main, .tablet--portrait.project .section__main {
  left: -100vw;
}
.mobile.project .section__project, .tablet--portrait.project .section__project {
  left: 0;
}
.mobile .swiper, .tablet--portrait .swiper {
  padding-top: calc( 14vw + 1rem ) !important;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  font-size: 10rem;
  overflow: hidden;
}
.mobile .swiper-slide, .tablet--portrait .swiper-slide {
  overflow: hidden;
  overflow-y: scroll;
}
.mobile .swiper-pagination, .tablet--portrait .swiper-pagination {
  position: absolute;
  left: 0 !important;
  bottom: 0 !important;
  z-index: 99999;
  height: 3rem;
  width: 100vw !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-top: 1px solid #000;
}
.mobile .swiper-pagination-bullet, .tablet--portrait .swiper-pagination-bullet {
  background: #fff;
  border: 2px solid #000;
  opacity: 1 !important;
  margin: 0 0.5rem !important;
  width: 1rem;
  height: 1rem;
}
.mobile .swiper-pagination-bullet-active, .tablet--portrait .swiper-pagination-bullet-active {
  background: #000;
}
.mobile .swiper__about, .tablet--portrait .swiper__about {
  background: #000;
  color: #fff;
}
.mobile .swiper__about #about header, .tablet--portrait .swiper__about #about header {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 2fr;
}
.mobile .swiper__about #about *, .tablet--portrait .swiper__about #about * {
  padding: 0;
}
.mobile .swiper__about #about div *, .tablet--portrait .swiper__about #about div * {
  font-size: 2rem;
}
@media (max-width: 480px) {
  .mobile .swiper__about #about div *, .tablet--portrait .swiper__about #about div * {
    font-size: 1rem;
  }
}
.mobile .swiper__about #about div > :last-child, .tablet--portrait .swiper__about #about div > :last-child {
  width: 75%;
  margin-left: 25%;
}
.mobile .swiper__about #about div > :last-child, .mobile .swiper__about #about div > :last-child *, .tablet--portrait .swiper__about #about div > :last-child, .tablet--portrait .swiper__about #about div > :last-child * {
  font-size: 1rem;
}
@media (max-width: 480px) {
  .mobile .swiper__about #about div > :last-child, .mobile .swiper__about #about div > :last-child *, .tablet--portrait .swiper__about #about div > :last-child, .tablet--portrait .swiper__about #about div > :last-child * {
    font-size: 0.8rem !important;
  }
}
.mobile .swiper__projects ul, .tablet--portrait .swiper__projects ul {
  height: calc( 100vh - 14vw - 1rem );
  height: calc( var(--vh, 1vh) * 100 - 14vw - 1rem );
  padding: 5rem 0;
  background: #fff;
  transition: all 1s;
}
.mobile .swiper__projects ul li, .tablet--portrait .swiper__projects ul li {
  --project-height: 75vw;
  box-sizing: content-box !important;
  list-style-type: none;
  width: 100%;
  box-sizing: border-box;
  height: calc( var( --project-height ) / 1.4 );
  margin-bottom: 150px !important;
  transition: height 1s;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .mobile .swiper__projects ul li, .tablet--portrait .swiper__projects ul li {
    height: calc( var( --project-height ) / 1.2 );
  }
}
.mobile .swiper__projects ul li *, .tablet--portrait .swiper__projects ul li * {
  width: max-content;
}
.mobile .swiper__projects ul li a, .tablet--portrait .swiper__projects ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 1s;
}
.mobile .swiper__projects ul li a *, .tablet--portrait .swiper__projects ul li a * {
  font-size: 1rem !important;
}
.mobile .swiper__projects ul li a:hover figure img, .tablet--portrait .swiper__projects ul li a:hover figure img {
  opacity: 0.85;
  height: 98%;
  width: 98%;
}
.mobile .swiper__projects ul li a:hover p, .tablet--portrait .swiper__projects ul li a:hover p {
  opacity: 1;
}
.mobile .swiper__projects ul li p, .tablet--portrait .swiper__projects ul li p {
  opacity: 0;
}
.mobile .swiper__projects ul li div, .tablet--portrait .swiper__projects ul li div {
  position: relative;
}
.mobile .swiper__projects ul li div svg, .tablet--portrait .swiper__projects ul li div svg {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  width: var(--project-height);
}
.mobile .swiper__projects ul li div svg path, .tablet--portrait .swiper__projects ul li div svg path {
  stroke-width: 3px;
}
.mobile .swiper__projects ul li figure, .tablet--portrait .swiper__projects ul li figure {
  height: var(--project-height);
  width: var(--project-height);
  position: relative;
  background: #000;
  left: 50%;
  transform: translateX(-50%);
}
.mobile .swiper__projects ul li figure img, .tablet--portrait .swiper__projects ul li figure img {
  height: 94%;
  width: 94%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.75s;
}
.mobile .swiper__project > div, .tablet--portrait .swiper__project > div {
  overflow: hidden;
  overflow-y: scroll;
  height: calc( 100vh - 14vw - 1rem );
  height: calc( var(--vh, 1vh) * 100vh - 14vw - 1rem );
  padding: 1rem 0 3rem;
  width: 100vw;
}
.mobile .swiper__project figure img, .tablet--portrait .swiper__project figure img {
  width: calc( 100vw - 1.4rem );
  margin-left: 50%;
  transform: translateX(-50%);
  height: auto;
}

@media (orientation: landscape) {
  .mobile header figure {
    height: 7vw;
    width: 7vw;
  }
}
@media (orientation: landscape) {
  .mobile .swiper {
    padding-top: calc( 7vw + 1rem ) !important;
  }
  .mobile .swiper__projects ul li {
    --project-height: 200px;
  }
  .mobile .swiper__projects ul li:not(:last-child) {
    margin-bottom: 0 !important;
  }
  .mobile .swiper__projects ul li a {
    left: 30%;
  }
  .mobile .swiper__projects ul li:nth-child(2n+2) a {
    left: 70%;
  }
}

.tablet--portrait .swiper__projects ul li {
  --project-height: 300px;
}
.tablet--portrait .swiper__projects ul li:not(:last-child) {
  margin-bottom: 0 !important;
}
.tablet--portrait .swiper__projects ul li a {
  left: 30%;
}
.tablet--portrait .swiper__projects ul li:nth-child(2n+2) a {
  left: 70%;
}
.tablet--portrait .swiper__project figure {
  padding: 5rem;
}
.tablet--portrait .swiper__project figure:not(:last-child) {
  padding-bottom: 0;
}
.tablet--portrait .swiper__project figure img {
  width: 100%;
}