@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

@font-face {
    font-family: 'osmose_medium';
    src: url('../fonts/osmose-medium-webfont.woff2') format('woff2'),
         url('../fonts/osmose-medium-webfont.woff') format('woff'),
         url('../fonts/osmose-medium-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'osmose_medium_italic';
    src: url('../fonts/osmose-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/osmose-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/osmose-mediumitalic-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifted_sans';
    src: url('../fonts/Lifted-Sans.eot');
    src: url('../fonts/Lifted-Sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lifted-Sans.woff2') format('woff2'),
         url('../fonts/Lifted-Sans.woff') format('woff'),
         url('../fonts/Lifted-Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifted_light';
    src: url('../fonts/Lifted-Light.eot');
    src: url('../fonts/Lifted-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lifted-Light.woff2') format('woff2'),
         url('../fonts/Lifted-Light.woff') format('woff'),
         url('../fonts/Lifted-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$color: #52b78f;

::-webkit-scrollbar {
    width: 0;
}

::-moz-selection { /* Code for Firefox */
    color: $color;
    background: none;
}

::selection {
    color: $color;
    background: none;
}

:root {

    --nav-width: 100vw;

}

html {

    font-family: 'lifted_sans';
    cursor: none;
    background: #000;
    font-size: 14px;

}

html, body {

    overflow: hidden;
    margin: 0;
    padding: 0;

}

ul {

    padding: 0;

}

a {

    color: inherit;
    text-decoration: none;

    &, &:hover, &:active {
    
        cursor: none;
    
    }

}

h2, h3, h4, h5, h6 {

    font-size: 1rem;

}

header, h1 {

    font-size: 1.8rem;

}

figure, img {
    color: rgba(255, 255, 255, 0);
}

#cursor {

    position: fixed;
    z-index: 99999;
    height: 40px;
    width: 40px;
    background: none !important;
    background-color: unset !important;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: height .75s, width .75s;

    & circle {
        stroke: #fff;
        stroke-width: 6px;
        transition: stroke-width .75s;
    }

    &.mini {
        
        height: 20px;
        width: 20px;

        & circle {
            stroke-width: 12px;
        }
        
    }

}

#main {

    font-family: 'lifted_sans', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    & > nav {

        outline: 1px solid #000;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        float: left;
        transition: width 1s;

    }

    & > main {

        float: right;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        transition: width 1s;
        position: relative;
        width: calc( 100vw - var( --nav-width ) );
        border-left: 1px solid #000;

        & img {
            height: auto;
        }

    }

    & *:not( img ) {

        box-sizing: border-box;
        text-align: left;
        font-weight: 500;
        margin: 0;
        // opacity: 1;

    }
    
    &.loading {

        & * {

            transition: width 1s, height 1s, background-color .6s 1s, opacity .6s 1s;
    
        }
    
        & section {
    
            overflow: hidden !important;
    
        }

    }
    
    & > * {

        background: #fff;

    }
    
    &.unloaded {

        --nav-width: 100vw;
    
        & nav > header > main h1,
        & nav > header > main > p, 
        & > * > *:not( header ) > *,
        & > main > header > * {
            
            opacity: 0;
            
        }
        
        & header {
            
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            
        }
        
        & > * > * {
            
            background-color: #fff;
            
        }

    }

}

nav {

    width: min-content;
    width: var( --nav-width );

    & ul {
        overflow: hidden;
        overflow-y: scroll;
        height: calc(100vh - 7rem);
        height: calc(var(--vh, 1vh) * 100 - 7rem);
        padding: 5rem 0;
        background: #fff;
        transition: all 1s;

        & li {

            --project-height: 200px;
            box-sizing: content-box !important;
            list-style-type: none;
            font-size: 1rem;
            width: 100%;
            box-sizing: border-box;
            height: calc( var( --project-height ) / 1.4 );
            transition: height 1s;
            position: relative;

            & * {

                width: max-content;
                width: var( --project-height );
                text-align: center !important;

            }

            & a {

                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%, -50%);
                transition: left 1s;

                & * {
    
                    font-size: 1rem !important;
    
                }

                &:hover {

                    & figure img {
        
                        opacity: .85;
                        height: 99%;
                        width: 99%;
        
                    }
        
                    & p {
        
                        opacity: 1;
        
                    }

                }

            }

            &:nth-child( 2n + 2 ) a {

                left: 75%;

            }

            & div {

                position: relative;

            //     // filter: drop-shadow(.5px .5px 0px #000)
            //     //     drop-shadow(-.5px .5px 0px #000)
            //     //     drop-shadow(.5px -.5px 0px #000)
            //     //     drop-shadow(-.5px -.5px 0px #000);
            //     // filter: drop-shadow(1px 1px .1px black)
            //     //     drop-shadow(-1px -1px .1px black)
            //     //     drop-shadow(1px -1px .1px black)
            //     //     drop-shadow(-1px 1px .1px black)
            //     //     drop-shadow(1px 0px .1px black) 
            //     //     drop-shadow(-1px 0px .1px black)  
            //     //     drop-shadow(0px 1px .1px black) 
            //     //     drop-shadow(0px -1px .1px black);

                & svg {

                    display: block;
                    height: var(--project-height);
                    width: var(--project-height);
                    aspect-ratio: 1/1;
                    position: absolute;
                    top: 0;
                    left: 0;

                    & * {

                        stroke-width: 5px;

                    }

                }

            }

            & figure {

                height: var( --project-height );
                aspect-ratio: 1/1;
                position: relative;
                background: #000;

                & img {
    
                    height: 90%;
                    width: 90%;
                    object-fit: cover;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .75s;
    
                }

            }

        }

    }

    & header {

        border-bottom: 1px solid #000;
        padding: 1rem;
        display: flex;
        width: 100%;
        height: 8.25rem;
        overflow: hidden;

        & * {

            display: inline-flex;

        }

        & figure {

            & img {

                aspect-ratio: 1/1;
                object-fit: contain;

            }

        }

        & main {

            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-left: 1rem !important;
            justify-content: center;

            & * {

                white-space: nowrap;

            }

        }

    }
    
}

main {

    & header {

        border-bottom: 1px solid #000;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        height: 8.25rem;
        width: 100%;
        font-size: 1.4rem;
        padding: 1.6rem 0;

        & div {

            &:first-child {

                display: inline-block;
                grid-column: 3;
                margin-left: 2rem;

            }

        }

    }

    & aside {

        position: absolute;
        z-index: 999;
        background: #000;
        color: #fff;
        width: 30rem;
        height: 100%;
        left: calc(100% - 3rem);
        top: 0;
        transition: left .6s;
        font-family: 'osmose_medium';

        & i, & em {

            font-family: 'osmose_medium_italic';

        }

        & article {

            padding: 2rem;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & a {
                text-decoration: underline;
                text-decoration-thickness: 0.1px;
            }

        }

        &.open {

            left: calc(100% - 30rem);

        }

        & div {

            &:nth-child( 2 ) {

                width: 60%;
                font-family: 'lifted_sans';

            }

        }

    }

    & figure {
        
        & img {

            z-index: 1;
            opacity: 1;
            transition: opacity .4s;
    
        }
        
    }

}

#about {

    font-family: 'lifted_light';
    background: #000;
    color: #fff;
    height: calc(100vh - 7rem);
    height: calc(var(--vh, 1vh) * 100 - 7rem);
    overflow: hidden;
    overflow-y: scroll;

    & *:not( br ) {

        font-size: 3rem;

        @media (max-width: 1400px) {

            font-size: 2rem;

        }

    }

    & p {

        width: calc(100vw - var(--pan-width) );
        padding: 3rem;
        padding-bottom: 0;

        &:last-of-type {

            & a {

                & img {

                    top: unset;
                    bottom: 4rem;

                }

            }
    
        }

    }

    & footer {

        &, & * {

            font-size: 1rem;
            
        }

        text-align: right;
        width: 100%;
        padding: 3rem;

    }

    & a {

        position: relative;
        text-decoration: underline;
        text-decoration-thickness: 0.1px;

        & img {

            opacity: 0;
            visibility: hidden;
            left: 50%;
            top: 6rem;
            transform: translate(-50%);
            max-height: 50vh;
            max-height: calc(var(--vh, 1vh) * 50);
            // width: 100%;
            max-width: calc(80vw - var(--nav-width));
            object-fit: contain;
            object-position: top center;
            position: absolute;
            z-index: 99999;
            pointer-events: none;

        }

    }

}

section {

    position: absolute;
    background: #fff;
    color: #000;
    right: 0;
    width: 100%;
    height: calc(100% - 8rem);

    & > div {
    
        width: calc(100% - 3rem);
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    
        & > *:not( figure ) {
    
            padding: 1rem;
    
        }

    }

    & article {

        & div {
            
            position: relative;
            overflow: hidden;
            
        }
        
        & iframe {
            
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            
        }

    }

}

.project {
    
    --nav-width: 20rem;

    & nav {

        & ul {

            background: #000;
            color: #fff;
            padding-top: 2rem;

            & li {
    
                height: calc( var( --project-height ) + 3rem);
    
                & a {
        
                    left: 50% !important;
        
                }
    
            }

        }

    }

    & main {

        & #about {

            pointer-events: none;

            & * {

                opacity: 0;
                transition: opacity 1s 1s;

            }

        }

    }

}

:not( .touch ) {

    & nav {

        & ul {

            & li {

                & p {

                    opacity: 0;
            
                }

            }

        }

    }

    & main {

        & aside {

            &:not( .open ):hover {

                left: calc(100% - 5rem);
        
            }

        }

    }

    & #about {

        & a:hover {

            & img {
            
                opacity: 1;
                visibility: initial;
                
            }
    
        }

    }

}

@keyframes navEnter {

    from { right: -100%; }
    to { right: 0; }

}

@keyframes navLeft {

    from { right: 0; }
    to { right: -100%; }

}

.fade {

    &-enter {

        &-active {
    
            animation: navEnter 1s;
    
        }

        &, &-active {
    
            transition: opacity .4s;
    
        }

    }

    &-leave {

        &-to, &-active {
    
            animation: navLeft 1s;
    
        }

    }

}

@media screen {

    .touch {
    
        font-size: 9px;
    
        & nav {
            & ul {
                & li {
                    --project-height: 130px;
                }
            }
        }
    
        & main {
    
            & aside {

                --aside-width: 50rem;
                --aside-font: 1.6rem;
    
                @media ( orientation: landscape ) {
    
                    --aside-width: 30rem !important;
                    --aside-font: 1rem !important;
    
                }

                width: var( --aside-width );

                & * {
    
                    font-size: var( --aside-font );

                }
    
                &.open {
    
                    left: calc(100% - var( --aside-width ) );
    
                }
    
            }
    
        }
    
    }
    
}

.mobile, .tablet--portrait {

    & .template {

        display: none;
        opacity: 0;

    }

    &.unloaded {

        & header {

            opacity: 1;

        }

    }

    & header {

        position: fixed;
        z-index: 99999;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: .4rem;
        border-bottom: 1px solid #000;

        & > * {

            display: inline-block;

        }

        & > div {

            margin-right: 1rem !important;

        }

        & figure {

            height: 14vw;
            width: 14vw;

        }

        & main, & main h1 {

            font-size: 1.8rem;
            line-height: 1;
            margin-right: 1rem;

    
            @media ( orientation: portrait ) and ( max-width: 374px ) {

                font-size: 1.4rem;

            }

        }

    }

    & #about {

        height: 100%;
        padding: 2rem;
        padding-bottom: 5rem;

        & p, & a {

            margin: 0;
            padding: 0;
            font-size: 1.6rem;
            margin-bottom: 1rem;

            @media (max-width: 480px) {

                font-size: 1rem;

            }

        }
    
        & header {
        
            position: initial;
            font-size: .6rem;
            border-bottom: 1px solid #fff;
            width: 100%;
            padding-bottom: 1rem !important;
            margin-bottom: 1.6rem;

            & * {

                font-size: 1.25rem !important;
                font-family: lifted_sans,Avenir,Helvetica,Arial,sans-serif;

                @media (max-width: 480px) {

                    font-size: .8rem !important;

                }

            }

        }

        & > div {

            &:last-child {

                font-family: lifted_sans,Avenir,Helvetica,Arial,sans-serif;

            }

        }

    }

    & .section {

        transition: left .6s;
        position: fixed;
        top: 0;
        height: 100%;

        & > div {

            & > :not( figure ), & .swiper-wrapper {

                padding: 0;

            }

        }

        &__main {

            left: 0;

            & #about {

                & a:not( [ href ] ) {

                    pointer-events: none;
                    text-decoration: none;

                    & img {

                        display: none;

                    }

                }

            }

        }

        &__project {

            left: 100vw;

            & #about {

                font-family: 'osmose_medium';

                & header {

                    & h2 {
                        width: 100%;
                        text-align: center;
                    }

                }

            }

        }

    }

    &.project {

        & .section {

            &__main {

                left: -100vw;

            }

            &__project {

                left: 0;

            }
    
        }

    }

    & .swiper {

        padding-top: calc( 14vw + 1rem ) !important;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        font-size: 10rem;
        overflow: hidden;

        &-slide {

            overflow: hidden;
            overflow-y: scroll;

        }
        
        &-pagination {

            position: absolute;
            left: 0 !important;
            bottom: 0 !important;
            z-index: 99999;
            height: 3rem;
            width: 100vw !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-top: 1px solid #000;
    
            &-bullet {
    
                background: #fff;
                border: 2px solid #000;
                opacity: 1 !important;
                margin: 0 .5rem !important;
                width: 1rem;
                height: 1rem;
    
                &-active {
    
                    background: #000;
    
                }
    
            }
    
        }

        &__about {

            background: #000;
            color: #fff;

            & #about {
                
                & header {

                    display: grid;
                    align-items: start;
                    grid-template-columns: 1fr 1fr 2fr;
        
                }

                & * {

                    padding: 0;

                }

                & div {
                
                    & * {
    
                        font-size: 2rem;
    
                        @media (max-width: 480px) {
        
                            font-size: 1rem;
        
                        }
    
                    }

                    & > :last-child {

                        &, & * {

                            font-size: 1rem;

                            @media (max-width: 480px) {
            
                                font-size: .8rem !important;
            
                            }

                        }

                        width: 75%;
                        margin-left: 25%;

                    }
                }

            }

        }

        &__projects {

            & ul {

                height: calc( 100vh - 14vw - 1rem );
                height: calc( var(--vh, 1vh) * 100 - 14vw - 1rem );
                padding: 5rem 0;
                background: #fff;
                transition: all 1s;

                & li {

                    --project-height: 75vw;

                    box-sizing: content-box !important;
                    list-style-type: none;
                    width: 100%;
                    box-sizing: border-box;
                    height: calc( var( --project-height ) / 1.4 );

                    @media only screen and ( min-width: 768px ) {

                        height: calc( var( --project-height ) / 1.2 );

                    }

                    margin-bottom: 150px !important;
                    transition: height 1s;
                    position: relative;

                    & * {

                        width: max-content;

                    }

                    & a {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: left 1s;

                        & * {
            
                            font-size: 1rem !important;
            
                        }

                        &:hover {

                            & figure img {
                
                                opacity: .85;
                                height: 98%;
                                width: 98%;
                
                            }
                
                            & p {
                
                                opacity: 1;
                
                            }

                        }

                    }

                    & p {

                        opacity: 0;

                    }

                    & div {

                        position: relative;

                        & svg {

                            position: absolute;
                            height: 100%;
                            left: 0;
                            top: 0;
                            display: block;
                            width: var(--project-height);

                            & path {

                                stroke-width: 3px;

                            }

                        }

                        // filter: drop-shadow(.5px .5px 0px #000)
                        //     drop-shadow(-.5px .5px 0px #000)
                        //     drop-shadow(.5px -.5px 0px #000)
                        //     drop-shadow(-.5px -.5px 0px #000);

                    }

                    & figure {

                        height: var( --project-height );
                        width: var( --project-height );
                        // aspect-ratio: 1/1;
                        position: relative;
                        background: #000;
                        left: 50%;
                        transform: translateX(-50%);

                        & img {
            
                            height: 94%;
                            width: 94%;
                            object-fit: cover;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            transition: all .75s;
            
                        }

                    }

                }

            }

        }

        &__project {

            & > div {

                overflow: hidden;
                overflow-y: scroll;
                height: calc( 100vh - 14vw - 1rem );
                height: calc( var(--vh, 1vh) * 100vh - 14vw - 1rem );
                padding: 1rem 0 3rem;
                width: 100vw;

            }

            & figure {

                & img {

                    width: calc( 100vw - 1.4rem );
                    margin-left: 50%;
                    transform: translateX( -50% );
                    height: auto;
    
                }

            }

        }

    }

}

.mobile {

    & header {

        & figure {

            @media ( orientation: landscape ) {

                height: 7vw;
                width: 7vw;

            }

        }

    }

    & .swiper {
    
        @media ( orientation: landscape ) {

            padding-top: calc( 7vw + 1rem ) !important;

            &__projects {
    
                & ul {
    
                    & li {
    
                        --project-height: 200px;
    
                        &:not( :last-child ) {
    
                            margin-bottom: 0 !important;
    
                        }
    
                        & a {
    
                            left: 30%;
                            
                        }
    
                        &:nth-child( 2n + 2 ) a {
    
                            left: 70%;
    
                        }
    
                    }
    
                }
    
            }

        }

    }

}

.tablet--portrait {

    & .swiper {

        &__projects {

            & ul {

                & li {

                    --project-height: 300px;

                    &:not( :last-child ) {

                        margin-bottom: 0 !important;

                    }

                    & a {

                        left: 30%;
                        
                    }

                    &:nth-child( 2n + 2 ) a {

                        left: 70%;

                    }

                }

            }

        }

        &__project {

            & figure {

                padding: 5rem;

                &:not( :last-child ) {

                    padding-bottom: 0;

                }

                & img {

                    width: 100%;

                }

            }

        }

    }

}