<template>
    <img v-if="!style"
		:width="project.img.width" :height="project.img.height"
        :src="imgSrc"
        :data-src="imgDataSrc"
        :alt="caption !== null ? caption : null" />
    <img v-else
		:width="project.img.width" :height="project.img.height"
        :src="imgSrc"
        :data-src="imgDataSrc"
        :alt="caption !== null ? caption : null"
        :style="style" />
</template>

<script>
export default {
	name: 'ImgLazy',
	props: {
		src: {
			type: String,
			required: true,
		},
		data_src: {
			type: String,
			required: true,
		},
		caption: {
			type: String,
		},
		width: {
			required: true,
		},
		height: {
			required: true,
		},
		style: {
			type: String,
		},
	},
	computed: {
		imgSrc() {
			return this.img.formats.small.url;
		},
		imgDataSrc() {
			return this.img.url;
		}
	}
}
</script>